html {
  font-size: 10px;
}

body {
  background-color: #171836;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    margin: 0 auto;
  }
  html {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 160px;
          column-gap: 160px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-item {
  margin-right: 44px;
  font-size: 1.6rem;
}

.nav-item:last-of-type {
  margin-right: 0;
}

.nav-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:hover:after {
  width: 100%;
  -webkit-transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all;
}

.nav-link::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: white;
}

.section-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.hero-img {
  width: 100%;
  max-width: 620px;
}

.hero-text {
  color: #fff;
  max-width: 421px;
}

.hero-text-title {
  font-size: 5.6rem;
  margin-top: 160px;
  margin-bottom: 75px;
}

.hero-text-subtitle {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 75px;
}

.hero-text-quote {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 40px;
}

.hero-text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.4);
}

.hero-text-info-item {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  border-radius: 8px;
  margin-right: 12px;
  margin-bottom: 24px;
}

.you-get {
  margin-bottom: 100px;
}

.you-get-header {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3.6rem;
  text-align: center;
}

.you-get-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.4);
  gap: 10px;
}

.you-get-flex-container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px minmax(100px, 310px);
      grid-template-columns: 80px minmax(100px, 310px);
      grid-template-areas: "image title" "nothing text";
}

.you-get-flex-container-grid-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.you-get-flex-container-grid-title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-size: 2rem;
  text-align: left;
  vertical-align: center;
}

.you-get-flex-container-grid-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
  font-size: 1.4rem;
  text-align: left;
  vertical-align: center;
  -ms-grid-column-align: start;
      justify-self: start;
  line-height: 170%;
}

.we-have-all-courses-btn {
  margin: 0 auto;
  padding: 5px 10px;
  -ms-flex-item-align: center;
      align-self: center;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 228px;
  height: 51px;
  border: 1px solid #F5443B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.we-have-all-courses-btn a {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #F5443B;
  text-decoration: none;
  margin: 0;
}

.we-have-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3.6rem;
  text-align: center;
}

.we-have-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3.6rem;
  text-align: center;
}

.we-have-subtitle-container {
  margin: 0 auto;
  margin-bottom: 50px;
}

.we-have-subtitle-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  font-weight: normal;
}

.we-have-course-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 490px;
  max-height: 100%;
  margin-bottom: 18px;
}

.we-have-course-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 276px;
  height: 432px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-53.38%, #202246), to(rgba(40, 43, 87, 0.17)));
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  border-radius: 20px;
  margin-right: 32px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 32px;
}

.we-have-course-item-img {
  margin-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 5px;
}

.we-have-course-item-uptitle {
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #3BF5BD;
}

.we-have-course-item-title {
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.we-have-course-item-subtitle {
  padding: 5px 10px;
  font-size: 1.4rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.we-have-course-item-svg {
  padding: 5px 10px;
}

.we-have-course-item-hero {
  padding: 5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
}

.we-have-course-item-hero-grid-container {
  gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 150px;
      grid-template-columns: 50px 150px;
      grid-template-areas: "logo title"  "logo subtitle";
}

.we-have-course-item-hero-logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
}

.we-have-course-item-hero-title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.we-have-course-item-hero-subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subtitle;
  font-size: 1.2rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.we-have-course-item-btn {
  margin-top: 30px;
  padding: 5px 10px;
  -ms-flex-item-align: center;
      align-self: center;
  visibility: hidden;
  background: #F5443B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 143px;
  height: 41px;
  border-radius: 6px;
}

.we-have-course-item-btn a {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin: 0;
}

.we-have-course-item:last-of-type {
  margin-right: 0px;
}

.we-have-course-item:hover {
  height: 485px;
}

.we-have-course-item:hover .we-have-course-item-btn {
  visibility: visible;
}

.we-have-course-item-btn .we-have-course-item:hover {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */